

#comment form {
    display:flex;
    flex-direction: column;
    align-items: center
}

#comment form input {
    width: 50%;
    margin-top: 10px;
}
textarea{
    width: 50%;
    margin-top: 10px;
    height: 100px;
}
#contact{
    display: inline-flex;
    justify-content: space-around;
}
